<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>Public interface for lgpn-data</description>
    <author/>
    <website>@website@</website>
    <status>@status@</status>
    <copyright>true</copyright>
    <type>application</type>
    <target>@name@</target>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <permissions xmlns:repo="http://exist-db.org/xquery/repo" password="" user="lgpn" group="lgpn" mode="@permissions@"/>
</meta>
