<?xml version="1.0" encoding="UTF-8"?>
<!-- Search input -->
 <form id="searchPageForm" class="navbar-form" role="search" action="search.html">
    <div class="input-group">
        <i class="glyphicon glyphicon-search" onclick="$(&#34;#searchPageForm&#34;).submit()"/>
        <input type="search" class="form-control search-input templates:form-control typeahead-search" autocomplete="off" placeholder="Search..." name="query"/>
    </div>
    <input type="hidden" name="doc" data-template="search:form-current-doc"/>
</form>
