<?xml version="1.0" encoding="UTF-8"?>
<form method="get" action="$app/search" class="main-form" id="searchForm">
    <div class="form-group searchbox">
        <label for="q" class="sr-only">Search</label>
        <input type="search" name="q" class="form-control" id="q" data-template="templates:form-control"/>
        <button type="submit" class="lgpn-link-button lgpn-link-button search-button btn">
            <span class="hsg-search-submit-text">Search</span>
            <i class="glyphicon glyphicon-search"/>
        </button>
    </div>
</form>
